body{
    flex-direction: column;
    display: flex;
    align-items: center;
}

img{
    object-fit: cover;
    max-width: 100%;
}

main{
    display:grid;
    grid-template-columns: 800px;
    grid-template-rows: repeat(6,auto );
    max-width: 800px;
    grid-template-areas: 
    ".about_me"
    "past_employment"
    "education"
    "img";

}

header p{
    display: flex;
    justify-content: center;
}

header h1{
    display: flex;
    justify-content: center;
    margin:20px;
}

.past_employment{
    border: 2px solid #e7a9b1;
    border-radius:  5px;
    padding: 10px;
    margin: 10px 0;
}

.education{
    border: 2px solid #e7a9b1;
    border-radius:  5px;
    padding: 10px;
    margin: 10px 0;
}




