body{
    margin: 0;
    background-color: #222222;
    color: pink;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    max-width: 60%;
    flex-direction: column;
    align-items: center;
}

p{
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

header{
    align-self: stretch;
    grid-area: nav;
    margin: 0;
    padding: 0;
    background-color: #181818;
}

nav{
    align-self: stretch;
    display:flex;
    justify-content: space-around;
    grid-area: nav;
    margin: 0;
    padding: 0;
    background-color: #181818b6;
    flex-direction: row;
    padding: 10px
    
}

a{
    font-family: BebasNeue;
    font-size: larger;
    color: pink;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    margin: 0;
    padding: 20px;
    font-family: Okay;
    font-size: 30px;
    font-weight: 500;
}

h3{  
    margin: 0;
    padding: 20px;
    font-family: BebasNeue;
    font-size: 30px;
    font-weight: 500;
    
}

.art{
    grid-area: art;
    justify-self: center;
}

.lime{
    max-width: 70%;
    grid-area: lime;
    justify-content: center;
    position: relative;
    display: inline-block;
    margin:20px
}
.lime img{
    display: block;
    height: auto; 
    display: block;

}

.artText{
    grid-area: artText;
}

.lime{   
    transition: 10s;
    justify-content: center;
    position: relative;
    display: inline-block;
    background: radial-gradient(circle, rgba(0,0,0,0) 100%, pink 100%);
}

.lime:hover{  
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, pink 100%);
}

.lime img{
    display: block;
    max-width: 100%;
    height: auto; 
    display: block;
    width: 100%;
    opacity: 0.75;
}

@font-face {
    font-family: Okay;
    src: url(Assets/okay-font/Okay-mjYx.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(Assets/Bebas_Neue/BebasNeue-Regular.ttf);
}






