body{
    background-color: #f8eff1;
    font-family: Arial, Helvetica, sans-serif;
    color: #220800;
    flex-direction: column;
    margin:0px;
    display: flex;
    align-items: center;
    text-align: justify;
}

main{
    background-color: white;
    padding: 20px;
    border-radius:  5px;
    max-width: 800px;
    width:800px;
}

header p{
    display: flex;
    justify-content: center;
}

header h1{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

nav{
    background-color: #e7a9b1;    
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding:20px 0;
    margin:0;
}

nav a{
    text-decoration: none;
    color: #220800;
}

h2{
    display:flex;
    justify-content: center;
}